body {
  font-family: 'Poppins', sans-serif;
  background: #f9f9fb;
  color: #333;
}

h1, h4, h5 {
  color: #343a40;
}

.card {
  border: none;
  border-radius: 16px;
  background-color: #ffffff;
}

.btn-primary {
  background-color: #5c67f2;
  border: none;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #434edd;
}

.table {
  border-radius: 8px;
  overflow: hidden;
}

.table thead th {
  background-color: #343a40;
  color: white;
}

.img-fluid {
  border-radius: 12px;
}
